*{
    margin: 0;
    padding: 0;
    font-family: 'Inter';
    font-weight: 400;
    scroll-behavior: smooth;
    position: relative;
}

h1,h2,h3,h4,a,nav,li,ul,p{
    display: inline-block;
    margin: 0;
    color: #f1f1f1
}

img{
    max-width: 100%;
    display: block;
}

body{
    background-image: linear-gradient(
        125deg,
        hsl(282deg 84% 12%) 0%,
        hsl(282deg 85% 12%) 14%,
        hsl(283deg 86% 11%) 29%,
        hsl(281deg 81% 10%) 43%,
        hsl(281deg 82% 8%) 57%,
        hsl(283deg 90% 7%) 71%,
        hsl(283deg 94% 6%) 86%,
        hsl(282deg 100% 5%) 100%
);
}